{% extends "base.html" %}

{% block content %}
<h3>{{ title }}</h3>

<h4>Condition</h4>

<div class="form-group">
    <label class="form-label" for="input-example-3">Message</label>
    <input id="input-example-3" class="form-input" placeholder="Product name" rows="3">
</div>

<div class="form-group">
    <select class="form-select">
        <option>Choose an option</option>
        <option>Fees</option>
        <option>Incentives</option>
    </select>
</div>

<div class="text-right">
    <button class="btn rounded">Search</button>
</div>

<hr>

<h4>Result</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Type</th>
            <th>Commit date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The Godfather</td>
            <td>Crime</td>
            <td>24 March 1972</td>
        </tr>
        <tr>
            <td>The Shawshank Redemption</td>
            <td>Drama</td>
            <td>14 October 1994</td>
        </tr>
    </tbody>
</table>
{% endblock %}

