{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Silk Road</title>
    <link rel="icon" href="{% static "images/favicon.ico" %}">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="stylesheet" href="{% static "css/spectre-docs.css" %}">
    <link rel="stylesheet" href="{% static "css/silkroad.css" %}">
</head>
<body>
    <div class="docs-container off-canvas off-canvas-sidebar-show">
        <div class="docs-navbar">
            <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar">
                <i class="icon icon-menu"></i>
            </a>
        </div>
        <div id="sidebar" class="docs-sidebar off-canvas-sidebar">
            <div class="docs-brand">
                <a href="/" class="docs-logo">
                    <img src="{% static "images/servicelogo.png" %}" alt="Service">
                    <h2>Silk Road</h2>
                </a>
                <a class="btn btn-link btn-action off-canvas-overlay" href="#close">
                    <i class="icon icon-menu"></i>
                </a>
            </div>
            <div class="docs-nav">
                <div class="accordion-container">
                    <div class="accordion">
                        <input id="docs-accordion-checkbox-menu" type="checkbox" name="docs-accordion-checkbox" hidden checked disabled>
                        <label class="accordion-header c-hand" for="docs-accordion-checkbox-menu">
                            Menu
                        </label>
                        <div class="accordion-body">
                            <ul class="menu menu-nav">
                                <li class="menu-item"><a href="/fees/search">Search</a></li>
                                <li class="menu-item"><a href="/fees/update">Update</a></li>
                                <li class="menu-item"><a href="/fees/total">Total</a></li>
                                <hr>
                                <li class="menu-item"><a href="/signin">Sign in</a></li>
                                <hr>
                                <li class="menu-item"	><a href="/admin">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion">
                        <input id="docs-accordion-checkbox-about" type="checkbox" name="docs-accordion-checkbox" hidden checked>
                        <label class="accordion-header c-hand" for="docs-accordion-checkbox-about">
                            Information
                        </label>
                        <div class="accordion-body">
                            <ul class="menu menu-nav">
                                <li class="menu-item"><a href="/information/Summary">Summary</a></li>
                                <li class="menu-item"><a href="/information/Tutorial">Tutorial</a></li>
                                <li class="menu-item"><a href="/information/White Paper">White Paper</a></li>
                                <li class="menu-item"><a href="/information/Q & A">Q & A</a></li>
                                <li class="menu-item"><a href="/information/Contact Us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <footer>
                    <small><i>We are ready to improve it.</i></small>
                </footer>
            </div>
        </div>
        <div class="docs-content off-canvas-content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
